<%
  var config = {
    title: '',
    keywords: '',
    discription: '',
    css: ['/css/main.css'],
    js: ['/js/main.js'],
    ogp: {
        url: '',
        img: '',
    }
  }
%>
<% include ./common/_head %>
<div class="wrapper">
    <p>hello world</p>
</div>
<% include ./common/_foot %>
